@import url(https://fonts.googleapis.com/css?family=Lato:700);

.custom-footer a{
 text-decoration: none;
 padding-left: 50px;
 padding-right: 50px;
 

}
.custom-button a{
    text-decoration: none;
    color: blanchedalmond;
    

}